/*// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 1024px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/

@font-face {
    font-family: "GothamRounded-Bold";
    src: url("GothamRounded-Bold.otf");
  }

body {
    background-color:#17a2b8;
    font-family: 'GothamRounded-Bold', sans-serif;
    color: white;
  }

  .espacio{
    height: 100px;
    
  }
  /* Configuracion Header */

.header ul li {
  list-style: none;
  text-align: center;
  
}
.header ul li:focus{
border-bottom:10px white;
  
}
.header ul li a {
  text-decoration: none;
  color: white;
}


/*configuracion de la 1er hoja*/
.comillas{
    color: #01ff01;
    font-size: 50px;
}
p.primerSaludo{
    font-size: 1.2em;
    line-height: 20px;
}


.primerHoja li {
  line-height: 16px;
	margin: 0;
	padding: 2px 5px 5px 51px;
	list-style: none;
	background-image: url("/img/puntoVerde.png");
	background-repeat: no-repeat;
	background-position:15px 8px;
	background-size: 23px;
}

.mujer{
  background-color:white;
  border: 4px solid #ffff;
    border-radius: 50%;
    padding: 5px;
    width: 175px;
    height: 182px;
    position: absolute;
    bottom: 60px;
    left: 721px;
    
}
@media only screen and (min-width: 300) {

  .mujer{
  left: 517px;
 
  }
}



.mujerImgGrande{
  background-color: white;
  border: 4px solid #ffff;
  border-radius: 50%;
  padding: 5px;
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: -175px;
  /* right: 138px; */
  left: 534px;
    
}
/* configuracion de la Segunda Hoja*/
.segundaHoja .part1 p{
    line-height: 89%;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
}
.imagen2hoja{
  width: 80%; 
 margin-left: 80px;
}
.segundaHoja .part3 img {
  width: 32%;

  margin: 0px 0px 0px 70px;
}
.segundaHoja .part3 p{
    font-size:30px;
    line-height: 89%;
    font-weight: 100;
}

@media (min-width: 768px){
.segundaHoja .part3 img {
    width: 45%;
    margin: 0px 0px 0px 70px;
  }
  .segundaHoja .part1 p{
    line-height: 89%;
    font-weight: 100;
    font-size: 50px;
    text-align: start;
}
 }


/* */
@media (min-width: 1024px) { 

  .segundaHoja .part1{
    height: 100%;
  
  }
  .segundaHoja .part1 p{
    position: absolute;
      top: 38%;
      left: 119px; 
} 
  .imagen2hoja{
    position: relative;
      top: 6px;
      right: 114px;
    width: 150%;
    height: 150%;
  }
  .segundaHoja .part3{
    
    top: 85%;
}
.segundaHoja .part3 img {
  width: 45%;
  margin: 0px 0px 0px 70px;
}

.segundaHoja .part3 p{
  text-align: end;

}

}
/*




}






/*
.part3 .imagenCeliaco{
  position: absolute;
    bottom: 0%;
    width: 100%;
    height: 20%;
}*/



/**********************Configuracion  Tercer Hoja ********************/

#comoFunciona .CMparte4{

  height: 339px;
  
}
#comoFunciona .CMparte2 .circuloCF{
  
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  height: 187px;
  width: 198px;
  position: relative;
  left: 87px;

}
.CMparte2 img{
  position: relative;
  width: 546px;
    top: -30px;
}

#comoFunciona .CMparte5 .mini1{
  border-radius: 10px;
  border: 3px solid #BADA55;
  background-color: #BADA55;
  
}
#comoFunciona .CMparte5 .mini2{
  border-radius: 10px;
  border: 3px solid #ffa501;
  background-color: #ffa501;
  
}

@media (min-width: 1024px){
.CMparte2 img{
  width: auto;
  position: initial;
    height: 400px;
    margin-top: -126px;
    margin-left: 53px;
}
#comoFunciona .CMparte5 {

}

}


/* comfiguracion de reemplazado por imagen directamente CFunciona
#comoFunciona .CMparte2 .circuloCF span {
  position: absolute;
  top: 9%;
  right: 39%;
  font-size: 5rem;
}

#comoFunciona .CMparte2 .circuloCF p{
  position: absolute;
 
  right: 11%;
  font-size: 1.3rem;
  bottom: 12%;
}*/

/* comfiguracion de seccion Beneficios */

#fotoBeneficio{
  position: relative;
    bottom: 80px;
    height: 323px;
    /* right: 16px; */
    left: 110px;
}

#beneficios ul li{
  font-size: 1.2rem;
}
#beneficios .bParte2 li {
	margin: 0;
	padding: 2px 5px 5px 51px;
	list-style: none;
	background-image: url("/img/puntoVerde.png");
	background-repeat: no-repeat;
	background-position:15px 8px;
	background-size: 23px;
}
#beneficios .bParte1 li {
	margin: 0;
	padding: 2px 5px 5px 51px;
	list-style: none;
	background-image: url("/img/puntoNaranja.png");
	background-repeat: no-repeat;
	background-position:15px 8px;
	background-size: 23px;
}
.mujerEnBeneficio{
  background-color:white;
  border: 4px solid #ffff;
    border-radius: 50%;
    padding: 5px;
    width: 178px;
    height: 170px;
    
}

/*Configuracion de 5 hoja encontraEnOfisnack */
#snaky{
  margin: -139px 0px 0px -1px;

}
#caja{
  width: 60%;
    margin-left: 115px;
}

/* CONFIGURACION HOJA 7 POR QUE ODISNACK*/
.pqOfisnackFoto img{
  margin: -50px;
  width: 140%;
}
table{
  padding: 0;
  margin: 0;
  float: left;
}

.justicado{
  text-align: initial;
  font-size: large;
  line-height: 17px;
}

td {
  text-align: center;
}
#tilde,#cruz{
 
  width: 57px;
}
#uno,#dos,#tres,#cuatro,#cinco,#seis {
  width: 50px;
}

/* CONFIGURACION HOJA 8 (final)mision*/
#mision div h1{
  letter-spacing: -2px;
    line-height: 36px;
}

#mision p img{
  text-align: end;
}

#mision h3{

  font-size: 2rem;
  line-height: 27px;}

